body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li:hover{
    background-color: red;
}

.skitchToast{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    height: 10px;
    color: #f1f5f8;
    text-align: center;
}